
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

/*******************************************
 *		Login
 *******************************************/
 
.loginPage {
	background:url('../img/bg-login.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.login-mairie-div {
	margin-top : 20px
}

.login-mairie-logo {
    width: 100px;
}

/*******************************************
 *		Banner / Footer
 *******************************************/

.bannerLayout {
    background-color:#3D81A7;
}

.banner {
	background-color:#3D81A7;
	color: white;
}

.banner-head{
	font-size: 2.0em;
}

.banner-head-warning {
	color: red;
	/*padding: 5px 5px;*/
        font-size: large;
        text-align: right;
}

.footer {
	background-color:#3D81A7;
	color: white;
 	padding-top: 5px;	
}

.user-info {
    background-color:#3D81A7;
    width: 100%;
    height: 20px;
    text-align: right;
    color: white;
    padding-left: 5px;
}

.user-info .z-hbox {
    text-align: right;
    width: 100%;
    color: white;
}

.user-info .z-hbox table {
    text-align: right;
    width: inherit;
    color: white;
}

.user-info a {
    font-family:  Helvetica,Arial,sans-serif;
    background-color:#3D81A7;
    font-size: small;
   	padding-bottom: 30px; 
   	color: white;
    text-align: right;
}

.user-info a:visited {
   	color: white;
}

.footer a,.footer a:VISITED {
	color: white;	
}

/*******************************************
 *		Header ecran principal
 *******************************************/
.header-div {
    margin-top: 10px;
    margin-bottom: 20px;
}

.header-mairie-logo {
    width: 100px;
    margin-left: 20px;
    margin-right: 30px;
    float: left;
}

.header-title1 {
    color: #007b9c;
    font-family:  Helvetica,Arial,sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.header-title2 {
    color: black;
    font-family: Helvetica,Arial,sans-serif;
    font-size: medium;

}

/******************************************************************************
 *   Commun
 ***************************************************************************** */

.green {
	color:#59A259;
}

.red {
	color:#EA6C6C;
}

.greyBlack {
	color:#636363;
}

.mediumIcon {
	font-size: 15px;
}


.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

center{
    margin-left:auto; 
    margin-right:auto;
}

.customThemeToolbar > .z-toolbar{
	text-decoration:none; 
	cursor:pointer;
        height: 25px;
        padding-top: 0;
 }

.customThemeToolbar .z-toolbar a{
	text-decoration:none; 
	cursor:pointer;
 }

.customThemeToolbar > .z-toolbarbutton:hover {
	text-decoration:none; 
	cursor:pointer;
}

.customThemeToolbar .z-toolbarbutton-content {
	text-decoration:none; 
	cursor:pointer;
}

.customThemeToolbar .z-toolbarbutton-content:hover { 
	text-decoration:none; 
	cursor:pointer;
}

.customThemeMenuBar > .z-menubar {
    height: 40px;
    padding-top: 0;
    border: 1px solid #E3E3E3;
    line-height: 32px;
}

.customThemeRadioButton > .z-radio input[type="radio"] {
    margin-bottom: 5px;
    margin-right: 3px;
}

.customThemeHiddenGrid .z-grid-header {
    height: 40px;
}

.customThemeHiddenGrid .z-auxheader-content {
    padding: 0 8px;
}

.customThemeHiddenGrid .z-row .z-row-inner, .customThemeHiddenGrid .z-row .z-cell {
    border-top: 0;
}

.customThemeHiddenGrid .z-row:hover > .z-row-inner, .customThemeHiddenGrid .z-row:hover > .z-cell {
    background: white;
}

.customThemeHiddenGrid .z-row:hover > .z-row-inner > .z-row-content {
    color: #555;
}

.customThemeListBox .z-listbox-header{
      height: 40px;
}

.customThemeListBox .z-listheader-content {
    padding: 0 8px;
}

.customThemePanel > .z-panel-head > .z-panel-header {
    font-size: 20px;
}